{% extends 'base.html' %}
{% load my_filters %}
<!-- move the entire block content to center aligned   -->
{% block title %}{{ language_article.article.title }} - 2win.news{% endblock %}

{% block description %}{{ language_article.title_translation }} - Bilingual News{% endblock %}


{% block content %}
<div class="center-content">
<article class="article-detail" itemscope itemtype="http://schema.org/Article">
    <meta itemprop="datePublished" content="{{ language_article.article.publish_date|date:'Y-m-d' }}">
    <meta itemprop="dateModified" content="{{ language_article.article.modified_date|date:'Y-m-d' }}">
    <em>{{language_article.article.publish_date|date:"F d, Y" }} </em>
    <h1 itemprop="headline">{{ language_article.title_translation }} <br>{{ language_article.article.title }}</h1>
    <!-- Moved the <p itemprop="articleBody"> outside the for loop -->
    <div itemprop="articleBody">
        {% for content in article_contents %}
        <div class="content-block">
            <p>
            {% if translations_map|default_if_none:""|get:content.id %}
                {{ translations_map|get:content.id|default:"" }} <br>
            {% endif %}
            {% if content.content_type == 'text' %}
                {{ content.content }}
            {% elif content.content_type == 'media' and content.image %}
                <img src="{{ content.image.url }}" alt="{{ content.content }}" itemprop="image" class="responsive" loading="lazy">
            {% elif content.content_type == 'external_link' %}
                {% with video_id=content.external_link|youtube_id %}
                {% if video_id %}
                    <!-- Assuming the video is a significant part of the article, not supplementary -->
                    <div class="responsive-iframe-container">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/VideoObject">
                        <iframe src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <meta itemprop="uploadDate" content="{{ language_article.article.modified_date|date:'c' }}">
                        <meta itemprop="description" content="{{ language_article.title_translation }}{{ language_article.article.title }}">
                        <meta itemprop="contentUrl" content="https://www.youtube.com/embed/{{ video_id }}">
                        <meta itemprop="thumbnailUrl" content="{{ language_article.article.thumbnail.url }}">                        <!-- Optional: include a name and description for the video -->
                        <figcaption itemprop="name">"Watch Bilingual {{ language_article.language | camelcase}}-English News: {{ content.content }}"</figcaption>
                    </figure>
                    </div>
                {% else %}
                    <p>Video link is invalid or not supported.</p>
                {% endif %}
                {% endwith %}
            {% endif %}
        </p>
        </div>
        {% endfor %}
    </div>
    
</article>
</div>
{% endblock %}
