{% extends 'base.html' %}

{% block content %}
<div class="articles-container">
    {% for article in articles %}
      {% for translation in article.translations.all %}
        <a href="{{ translation.get_static_path }}" class="article-card-link">
      <div class="article-card">
        <div class="article-card-content">
          <p class="meta">{{ article.publish_date|date:"F d, Y" }}</p>

                <p><strong class="article-title">{{ translation.title_translation }}</strong><strong>{{ article.title }}</strong></p>
            <p><em>({{ translation.language|title }}: English)</em></p>
        </div>
      </div>

        {% endfor %}

    {% endfor %}
</div>
{% endblock %}

