{% extends 'base.html' %}

{% block content %}
<div class="articles-container" itemscope itemtype="http://schema.org/ItemList">
  {% for lang_article in language_articles %}
    <article itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">
      <a href="{{ lang_article.get_static_path }}" itemprop="url" class="article-card-link">
        <div class="article-card">
          <!-- Thumbnail Image with Overlays -->
          {% if lang_article.article.thumbnail.url %}
          <div class="article-thumbnail" style="position: relative;">
            <img src="{{ lang_article.article.thumbnail.url }}" alt="{{ lang_article.article.title }}" itemprop="image">
            <!-- Published Date Overlay -->
            <div class="date-overlay">{{ lang_article.article.publish_date|date:"F d, Y" }}</div>
            <!-- Language Overlay -->
            <div class="language-overlay"><em>{{ lang_article.language|title }}:English</em></div>
          </div>
          {% endif %}
          <div class="article-card-content">
            <meta itemprop="datePublished" content="{{ lang_article.article.publish_date|date:'Y-m-d' }}">
            <p>
              <strong itemprop="headline">{{ lang_article.title_translation }}</strong>
              <strong itemprop="alternativeHeadline">{{ lang_article.article.title }}</strong>
            </p>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
</div>
{% endblock %}
