{% extends 'base.html' %}

{% block content %}

        <h2>{{ job.title }}</h2>
        <p><strong>About Company:</strong></p>
        <p>{{ job.about_company }}</p>
        <p><strong>Overview:</strong></p>
        <p>{{ job.position_overview }}</p>
        <p><strong>Qualifications:</strong></p>
        <p>{{ job.qualifications | linebreaksbr }}</p>
        <p><strong>Responsibilities:</strong></p>
        <p>{{ job.key_responsibilities | linebreaksbr }}</p>
        <p><strong>What We Offer:</strong> </p>
        <p>{{ job.what_we_offer | linebreaksbr}}</p>
        <p><strong>Application Process:</strong></p>
        <p>{{ job.application_process | linebreaksbr }}</p>
        <p><strong>Compensation:</strong> </p>  
        <p>{{ job.compensation }}</p>

        <p>Posted on: {{ job.posted_date }}</p>


{% endblock %}