{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- In the <head> section of your base.html -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <header>
        <div class="header-content">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="News2in1 Logo" style="height: 50px;">
            </a>
            <h1>News2in1.com</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <!-- Additional links here -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- Footer content here -->
    </footer>
</body>
</html>
