{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}2win.news - Bilingual News Platform{% endblock %}</title>
    <meta name="author" content="2win">
    <meta name="description" content="{% block description %}Stay updated with the latest news in your native language and English with 2win.news, your go-to source for bilingual news content.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}twin news, 2win news, 2in1 news, bilingual news, Hear News Learn English{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
        
    <!-- Schema.org, Open Graph, and Twitter Card data omitted for brevity -->
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XTQH60HPPC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XTQH60HPPC');
</script>
<body itemscope itemtype="http://schema.org/WebPage">
<header>
    <div class="header-content">
        <a href="{% url 'home' %}" class="logo" itemprop="url">
            <img src="{% static 'images/logo.png' %}" alt="2win.news Logo" itemprop="image" style="height: 50px;">
        </a>
        <div class="header-titles">
            <h1 itemprop="name">2win.news</h1>
            <!-- Slogan added right below the site title -->
            <p class="site-slogan">Bilingual: Learn News, Improve English</p>
        </div>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about_us' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'career_home' %}">Career</a></li>
            <!-- Additional links here -->
        </ul>
    </nav>
</header>

    <main itemprop="mainContentOfPage">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- Footer content here -->
    </footer>
</body>
</html>
